
body{
	border: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
	background-color: green;
	color: white;
}

.btn-primary {
	border-color: white;

}


thead{
	text-align: center;
}

td{
	text-align: center;
}